/resources/**/Day1.txt
/resources/**/Day2.txt
/resources/**/Day3.txt
/resources/**/Day4.txt
/resources/**/Day5.txt
/resources/**/Day6.txt
/resources/**/Day7.txt
/resources/**/Day8.txt
/resources/**/Day9.txt
/resources/**/Day10.txt
/resources/**/Day11.txt
/resources/**/Day12.txt
/resources/**/Day13.txt
/resources/**/Day14.txt
/resources/**/Day15.txt
/resources/**/Day16.txt
/resources/**/Day17.txt
/resources/**/Day18.txt
/resources/**/Day19.txt
/resources/**/Day20.txt
/resources/**/Day21.txt
/resources/**/Day22.txt
/resources/**/Day23.txt
/resources/**/Day24.txt
/resources/**/Day25.txt

